
*::before,*::after,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color-scheme: dark;
}
.card-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  /* Larger Screens */
  @media (min-width: 768px) {
    .card-wrapper {
        display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    
   
  }
  
  /* Desktop/Laptop */
  @media (min-width: 1200px) {
    .card-wrapper {
        flex-direction: row;
      /* Adjust the width as per your design */
    }
  }